<div class="py-10">
  <header>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        <%= @organization.name %>
      </h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <% @events.each do |e| %>
        <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
          <div>
            <div class="relative">
              <div class="relative w-full h-72 rounded-lg overflow-hidden">
                <img src="https://tailwindui.com/img/ecommerce-images/product-page-03-related-product-01.jpg" alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls." class="w-full h-full object-center object-cover">
              </div>
              <div class="relative mt-4">
                <h3 class="text-sm font-medium text-gray-900"><%= e.title %></h3>
                <p class="mt-1 text-sm text-gray-500"><%= e.start_datetime %></p>
              </div>
              <div class="absolute top-0 inset-x-0 h-72 rounded-lg p-4 flex items-end justify-end overflow-hidden">
                <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>
              </div>
            </div>
            <div class="mt-6">
              <%
=begin%>
 <a href="#" class="">Register Now<span class="sr-only">, Zip Tote Basket</span></a> 
<%
=end%>
              <%= link_to "Register Now", organization_event_path(organization_name: @organization.url_key, event_url: e.url), class: "relative flex bg-gray-100 border border-transparent rounded-md py-2 px-8 items-center justify-center text-sm font-medium text-gray-900 hover:bg-gray-200" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>
